<header class="header">
    <h1 class="header__heading">
        <a href='{% url "contact:index" %}' class="header__link">
            Agenda
        </a>
    </h1>

    <nav class="navbar">
        <ul class="navbar__list">
            {% if user.is_authenticated %}
                <li class="navbar__item">
                    <a href={% url "contact:create_category" %} class="navbar__link">
                        Create category
                    </a>
                </li>
                <li class="navbar__item">
                    <a href={% url "contact:create" %} class="navbar__link">
                        Create contact
                    </a>
                </li>
                <li class="navbar__item">
                    <a href={% url "contact:update_user" %} class="navbar__link">
                        Profile
                    </a>
                </li>
                <li class="navbar__item">
                    <a href={% url "contact:logout_user" %} class="navbar__link">
                        Logout
                    </a>
                </li>
            {% else %}
                <li class="navbar__item">
                    <a href={% url "contact:login_user" %} class="navbar__link">
                        Login
                    </a>
                </li>
                <li class="navbar__item">
                    <a href={% url "contact:create_user" %} class="navbar__link">
                        Register
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% comment %} 
    DEUS ME PERDOE 
    {% endcomment %}
    {% if request.resolver_match.view_name != "contact:index_category" and request.resolver_match.view_name != "contact:single_category" and request.resolver_match.view_name != "contact:create_category" and request.resolver_match.view_name != "contact:update_category" and request.resolver_match.view_name != "contact:delete_category"%}
        <div class="search">
            <form action="{% url "contact:search" %}" method="get">
                <input 
                    type="search"
                    class="search__input" 
                    placeholder="Search"
                    id="search"
                    name="q"
                    {% comment %} Continue with the searched text on the search bar {% endcomment %}
                    value="{{ request.GET.q.strip }}"
                >
            </form>
        </div>
    {% endif %}
</header>