<header class="header">
    <h1 class="header__heading">
        <a href='{% url "contact:index" %}' class="header__link">
            Agenda
        </a>
    </h1>

    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a href="" class="navbar__link">
                    placeholderlink
                </a>
            </li>

            <li class="navbar__item">
                <a href="" class="navbar__link">
                    placeholderlink2
                </a>
            </li>

        </ul>
    </nav>

    <div class="search">
        <form action="" method="get">
            <input 
                type="search" 
                class="search__input" 
                placeholder="Search"
                id="search"
                name="q"
            >
        </form>
    </div>
</header>