{% extends "global/base.html" %}

{% block content %}
{% if contacts %}
    <div class="table__dont__overflow">
        <table class="contacts__table">
            <caption class="table__caption">
                Contacts
            </caption>

            <thead>
                <tr class="table__row table__row__header">
                    {% comment %} This is the main table headers {% endcomment %}
                    {% for header in table_headers %}
                    <th class='table__header' >{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
                
                <tbody>
                {% for contact in contacts %}
                    <tr class="table__row">
                        <td class="table__cel">
                            <a href="{% url "contact:single_contact" contact.id %}" class="table__link">{{ contact.id }}</a>
                        </td>
                        <td class="table__cel">{{ contact.first_name }}</td>
                        <td class="table__cel">{{ contact.last_name }}</td>
                        <td class="table__cel">{{ contact.phone }}</td>
                        <td class="table__cel">{{ contact.email }}</td>
                    {% endfor %}
                </tbody>
        </table>
    </div>

{% else %}
    <div class="single__contact">
        <h1 class="single__contact__name">
            The contact {{ request.GET.q.strip }} was not found.
        </h1>
    </div>
{% endif %}
{% endblock content %}