{% extends "global/base.html" %}

{% block content %}
    <div class="single__contact">
        <h1 class="single__contact__name">
            {{ contact.first_name }} {{ contact.last_name }}
        </h1>

        <p><b>ID:</b> {{ contact.id }}</p>
        <p><b>Email:</b> {{ contact.email }}</p>
        <p><b>Phone:</b> {{ contact.phone }}</p>
        <p><b>Creation date:</b> {{ contact.created_at }}</p>
        <p><b>Description:</b> {{ contact.description }}</p>
        <p><b>Category:</b> {{ contact.category.name }}</p>

        {% comment %} Check if the contact has a picture and display it {% endcomment %}
        
        {% if contact.picture %}
            <p><img src="{{contact.picture.url}}" alt="{{ contact.first_name }} {{contact.last_name}}"></p>
        {% endif %}

        <div class="contact__links">
            <a href={% url "contact:update" contact.id %} class="button button__link">Update</a>
            <form action="{% url "contact:delete" contact.id %}" method="{{form__method}}">
                {% csrf_token %}
                <button class="button buttton__link button__delete">{{delete__button__text}}</button>
            </form>
        </div>
    </div>
{% endblock content %}